<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<script src="scripts/all_participants.js"></script>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand" style="font-weight: bold; font-family: Arial; color: #0c5449;">WSU Super Study</div>
    </div>
    <ul class="nav navbar-nav">
      <li><a style="font-family: Arial; color: #0c5449;" href="javascript:inProgress()" >Participants In Progress</a></li>
      <li><a style="font-family: Arial; color: #0c5449;" href="javascript:contactLog()" >Contact Log</a></li>
      <li class="active"><a style="font-family: Arial; color: #0c5449;" href="javascript:allParticipants()" >All Participants</a></li>
    </ul>
  </div>
</nav>

<br><br>

<div class="container-fluid" style="padding-top: 70px;">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <table id="in_progress" class="table table-striped">
      <thead>
        <tr>
          <td>ID</td>
          <td>Participant Name</td>
          <td>Cell Phone Number</td>
          <td>Email Address</td>
        </tr>
      </thead>
      <tbody>
      {{#each ppt_results}}
        <tr>
          <td><a style="text-decoration: underline;" href="javascript:allParticipantsDetail({{this.ppt_id}})">{{this.ppt_id}}</a></td>
          <td>{{this.ppt_first_nm}} {{this.ppt_last_nm}}</td>
          <td>{{this.ppt_cell_phone_no}}</td>
          <td>{{this.ppt_email}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
      

</html>
